<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Automata_Teacher_3.Automata_Teacher_3" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:targetSdkVersion="21" android:minSdkVersion="19" />
	<application android:label="Automata Teacher" android:icon="@drawable/Icon" android:theme="@android:style/Theme.Holo.Light"></application>
	<supports-screens android:resizeable="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
</manifest>